.caixa1{
    background-color: #ff9797;
    height: 140px;
    width: 980px;
    margin-bottom: 15px;
}

.caixa2{
    background-color: #6e3838;
    width: 270px;
    height: 450px;
}

.caixa3{
    background-color: #a55f5f;
    width: 698px;
    height: 450px;
    margin-left: 280px;
}

.caixa4{
    margin-top: 15px;
    background-color: #810c0c;
    width: 980px;
    height: 70px;
    box-po
    dio
}
